.align {
  justify-content: space-between;
  padding: 0.6rem 2rem;
}

.container .align {
  display: flex;
  align-items: center;
  background-color: #fdf1eb;
}

.header-txt p,
h3 {
  color: #725c5c;
  font-weight: 300;
}

.header-txt h3 {
  font-weight: 500;
}
.linguagem label {
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
}

.linguagem select {
    text-align: end;
  height: 2rem;
  width: 5.3rem;
  font-size: 0.8rem;
  border: 1.5px solid #cccccc;
  border-radius: 6px;
  background-color: transparent;
}

select,
.info-user p {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #333333;
}

.imagem img {
  border-radius: 50%;
}

.imagem img:first-child {
  position: relative;
  top: -22px;
  right: -33px;
}

.info-user {
  display: flex;
  align-items: center;
  text-align: end;
}
