<div class="container">
  <div class="align">
    <div class="header-txt">
      <p>Anais do Simpósio Latino Americano de Ciência de Alimentos</p>
      <h3>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h3>
      <p>ISSN: 1234-5678</p>
    </div>
    <div class="linguagem">
      <label for="linguagem">
        <img src="assets/icons/globo.svg" alt="linguagem"
      /></label>
      <select name="linguagem" id="linguagem">
        <option class="opcao-icone" value="pt-br">PT,
           BR
          </option>
      </select>
    </div>
    <div class="info-user">
      <div>
        <p>Bem Vindo</p>
        <p>{{ email }}</p>
      </div>
      
      <div class="imagem">
        <img
        src="assets/imagem/notification badge.png"alt="User image">
        <img src="assets/imagem/Imagem.png" alt="imagem">
      </div>
    </div>
  </div>
</div>