<div class="container">
  <section class="side-bar">
    <h1>SLACA 2019</h1>
    <img src="/assets/imagem/dewey 4.png" alt="13 Slaca" />
    <nav class="menu">
      <ul>
        <li><a href="/#">Apresentação</a></li>
        <li><a href="#">Comitês</a></li>
        <li><a href="#">Autores</a></li>
        <li><a href="#">Eixos Temáticos</a></li>
        <li><a href="/">Trabalhos</a></li>
        <li><a href="/#">Contato</a></li>
      </ul>
    </nav>
  </section>

  <div>
    <header>
      <app-header></app-header>
    </header>

    <main>
      <app-work></app-work>
    </main>

    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</div>
