<div class="container">
  <section class="side-bar">
      <h1>SCALA 2019</h1>
      <img src="/exercicios-2024/ts/src/assets/imagem/logo.jpg" alt="">
      <nav>
          <ul>
              <li><a href="/#">Apresentação</a></li>
              <li><a href="/#">Comitês</a></li>
              <li><a href="/#">Autores</a></li>
              <li><a href="/#">Eixos temáticos</a></li>
              <li><a href="/#">Trabalhos</a></li>
              <li><a href="/#">Contato</a></li>
          </ul>
      </nav>
  </section>
</div>