<div class="container">
  <section class="side-bar">
      <h1>SCALA 2019</h1>
      <img src="/assets/imagem/dewey 4.png" alt="">
      <nav>
          <ul>
              <li><a href="/#">Apresentação</a></li>
              <li><a href="/#">Comitês</a></li>
              <li><a href="/#">Autores</a></li>
              <li><a href="/#">Eixos temáticos</a></li>
              <li><a href="/#">Trabalhos</a></li>
              <li><a href="/#">Contato</a></li>
          </ul>
      </nav>
  </section>

<div>
    <header>
        <app-header></app-header>
    </header>

</div>
</div>

