<div class="card">
     <div class="topic">
          <h4 class="ops-topic-subject">{{ topic.subject }}</h4>
          <p class="author">{{ topic.author }}</p>
          <p class="phrase">{{ topic.phrase }}</p>
          <div class="info">
               <img (click)="showComments()" src="assets/icons/more_info.svg" alt="Icone expandir topico">
               <img src="assets/icons/favorite.svg" alt="Icone Favoritar">
               <span>{{ topic.likes }} like<span *ngIf="topic.likes !== 1">s</span></span>
               <span>{{ topic.answers }} resposta<span *ngIf="topic.answers !== 1">s</span></span>
          </div>
     </div>
 </div>
 
 <section class="comment-section" *ngIf="topic.answers > 0" [ngClass]="{ 'show': isExpanded, 'hidden': !isExpanded }">
     <div class="comments-container" *ngFor="let comment of comments; let i = index"
          [ngClass]="{ 'show': !commentsOn, 'hidden': commentsOn, 'comment-bg': comment.isAuthor || comment.isCoAuthor }">
          <div class="comment" [class.author-comment]="comment.isAuthor" [class.coauthor-comment]="comment.isCoAuthor">
               <div class="comment-info">
                    <p>{{ comment.name }}</p>
                    <span *ngIf="comment.isAuthor || comment.isCoAuthor">
                         {{ comment.isAuthor ? 'Autor' : 'Coautor' }} <img src="assets/icons/author.svg" alt="Ícone de {{ comment.isAuthor ? 'Autor' : 'Coautor' }}">
                    </span>
               </div>
               <p>{{ comment.comment }}</p>
          </div>
     </div>
 </section>
 