<div class="footer">
  <div class="boder-top"></div>
  <div class="container">
  <div class="img">
    <img src="assets/imagem/Galoa.png" alt="logo">
    
  
  
  <!-- <div class="conteudo-footer">
    <p>
      <strong
        >Preservar a memória do evento e a mpliar o acesso ao conhecimento
        científico</strong
      >
      gerado em eventos é a razão de ser da plataforma Galoá Proceedings.
    </p>
    <p>
      Os trabalhos publicados aqui têm maior alcance e ficam disponíveis para
      toda a comunidade científica, mantendo aceso o debate científico fomentado
      pelos encontros e aumentando o impacto do evento.
    </p>
  </div> -->
</div>
</div>
